@import "../node_modules/bootstrap/scss/bootstrap";

$dark-blue: #222831;
$blue: #30475e;
$gold: #c1a57b;
$nude: #ececec;
$black: #212121;
$white: #ffffff;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Oswald", sans-serif;

@mixin cards-boxShadow {
  -webkit-box-shadow: 0px 2px 7px 0px rgba(192, 192, 192, 1);
  -moz-box-shadow: 0px 2px 7px 0px rgba(192, 192, 192, 1);
  box-shadow: 0px 2px 7px 0px rgba(192, 192, 192, 1);
}

@mixin buttonStyle {
  background-color: $gold;
  color: $white;
  font-weight: bold;
  font-size: 0.9em;
  &:hover {
    color: $dark-blue;
  }
  &:focus {
    outline: none !important;
  }
}

body {
  color: $black;
  font-family: $font-primary;
  .navbar {
    background-color: $dark-blue;
    .navbar-brand {
      color: $white;
      margin: 0 auto;
      font-family: $font-secondary;
      h1 {
        font-size: 1.5em;
      }
    }
  }
  main {
    padding-top: 3em;
    p {
      margin-bottom: 0;
    }
    h2 {
      color: $blue;
      font-weight: 500;
      font-size: 1.25em;
    }
    h3 {
      font-weight: 500;
      font-size: 1.4em;
      position: relative;
      top: 0.5em;
      font-family: $font-secondary;
    }
    h4 {
      color: $blue;
      font-weight: 500;
      font-size: 1.1em;
    }
    img {
      padding-right: 1em;
    }
    .list-group-item {
      flex-wrap: wrap;
    }
    .btn {
      @include buttonStyle;
      i.fa.fa-plus {
        font-size: 0.9em;
      }
      i.fa.fa-usd {
        font-size: 0.9em;
        padding-left: 0.3em;
      }
      &.btn-link {
        float: right;
        position: relative;
        top: -0.5em;
      }
    }
    .selected-list {
      margin: 4em auto;
      .card-header {
        background-color: $dark-blue;
        h3 {
          color: $white;
        }
      }
      .card-body {
        li {
          @include cards-boxShadow;
        }
      }
    }
  }
  footer {
    background-color: $dark-blue;
    padding: 2em 1em;
    text-align: center;
    span {
      color: $white;
      margin: 1em;
      font-weight: bold;
      font-family: $font-secondary;
      font-size: 1.2em;
    }
    .btn {
      @include buttonStyle;
      display: block;
      margin: 1em auto 0 auto;
    }
  }
}

@media (min-width: 992px) {
  main {
    li {
      justify-content: space-between;
      > p {
        width: 35%;
      }
      > h2 {
        width: 20%;
      }
    }
  }
}
@media (max-width: 991px) {
  main {
    li {
      h2,
      h4 {
        margin-top: 0.75em;
      }
      p {
        margin: 1em 0 0.5em 0;
      }
      span {
        width: 100%;
        margin: 0.5em auto 0.8em auto;
      }
      .btn {
        &:first-of-type {
          margin-right: 1em;
        }
      }
    }
  }
}
